[submodule "third-party/Lyra"]
	path = third-party/Lyra
	url = https://github.com/bfgroup/Lyra.git
	shallow = true
[submodule "third-party/doctest"]
	path = third-party/doctest
	url = https://github.com/onqtam/doctest.git
	shallow = true
